* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}
img {
  border: solid;
  border-radius: 15px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: block;
}

body {
  background-color: grey;
  justify-content: center;
}

.btn {
  border-radius: 8px;
  height: 30px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: rgb(12, 53, 186);
}

.isi {
  border: solid;
  border-radius: 15px;
  width: 500px;
  text-align: center;
  justify-content: center;
  background-color: sandybrown;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.isi:hover {
  background-color: orange;
}

.container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}